.btn {
    text-decoration: none;
}

.btn.btn-shop {
    position: relative;
    text-transform: uppercase;
    font: {
        weight: $font-weight-500;
    }
    &::after {
        height: 1px !important;
        position: absolute !important;
        width: 100% !important;
        background-color: black !important;
        content: '' !important;
        top: 100% !important;
        left: 0 !important;
        transform: scale(0) !important;
        transition: $transition-200ms !important;
    }
    &:hover:after {
        transform: scale(1) !important;
    }
}

.btn.btn-primary {
    padding: $padding $padding-xl;
    font-weight: $font-weight-600;
    background-color: rgba(255, 255, 255, .8);
    color: $black;
    border-radius: 3px;
    transition: $transition-200ms;
    &:hover {
        background-color: rgba(0, 0, 0, .8);
        color: $white !important;
    }
}

.btn.btn-rounded {
    padding: $padding $padding-xxl;
    font-weight: $font-weight-600;
    background-color: #26c;
    color: $white;
    border-radius: 3px;
    transition: $transition-200ms;
    display: inline-block;
    text-transform: uppercase;
    &:hover {
        background-color: rgb(79, 130, 206);
    }
}

.btn.btn-black {
    padding: $padding $padding-xxl;
    font: {
        weight: $font-weight-600;
        size: $font-sm;
    }
    background-color: #222;
    color: $white;
    border-radius: 3px;
    transition: $transition-200ms;
    display: inline-block;
    text-transform: uppercase;
    &:hover {
        background-color: rgb(56, 56, 56);
    }
    i {
        font-size: $font-s;
        margin-right: $margin-xs;
    }
}