html {
    font: {
        size: $size;
        family: $font-family;
    }
}

::placeholder {
    font-size: $font-s;
    font-family: 'Poppins';
    color: $c-gray;
}

.w-100p {
    width: $w-100per !important;
}

.w-25p {
    width: 25% !important;
}

.w-50p {
    width: 50% !important;
}

.w-0p {
    width: 0% !important;
}

.gray {
    color: #666;
}