$size: 16px;
$font-family: 'Poppins';
$container: 1170px;
$font-xs: .5rem;
$font-s: .75rem;
$font-sm: .85rem;
$font-m: 1.25rem;
$font-l: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;
$font-xxd: 4.7rem;
$font-xxxl: 7rem;
$gap: $size;
$gap-xs: .5rem;
$gap-s: .75rem;
$gap-m: 1.25rem;
$gap-l: 1.5rem;
$gap-xl: 2rem;
$gap-xxl: 3rem;
$gap-xxxl: 6rem;
$gap-xxxxl: 7rem;
$padding: $size;
$padding-xxs: .3rem;
$padding-xs: .5rem;
$padding-s: .75rem;
$padding-m: 1.25rem;
$padding-l: 1.5rem;
$padding-xl: 2rem;
$padding-xxl: 3rem;
$padding-xxxl: 6rem;
$padding-oversize: 4rem;
$margin: $size;
$margin-xxs: .3rem;
$margin-xs: .5rem;
$margin-s: .75rem;
$margin-m: 1.25rem;
$margin-l: 1.5rem;
$margin-xl: 2rem;
$margin-xxl: 3rem;
$margin-xxxl: 5rem;
$line-xs: .5rem;
$line-s: .75rem;
$line-m: 1.25rem;
$line-l: 1.5rem;
$line-xl: 2rem;
$line-xxl: 3rem;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;
$container-width: 1170px;
$flex: flex;
$transition-200ms: all 200ms linear;
$first-font-color: #666;
$second-font-color: black;
$pink: #ff675d;
$border-color: rgb(205, 205, 205);
$white: white;
$black: black;
$footer-bg: #222;
$error-bg: #f7f7f7;