.additional {
    span {
        color: $first-font-color !important;
        font-size: 14px !important;
    }
    h5 {
        font: {
            weight: $font-weight-600;
            size: 14px;
        }
    }
    table {
        margin-top: $margin-xxl;
        td {
            padding: $padding-s;
            line-height: $line-m;
            border-bottom: 1px solid rgb(214, 214, 214);
        }
    }
}