#banner {
    margin-top: $margin-xxxl;
    height: 250px;
    .banner__content {
        position: relative;
        img {
            width: $w-100per;
            height: $h-100per;
            object-fit: cover;
        }
        .banner__details {
            @include flex-between-center();
            min-width: 370px;
            position: absolute;
            left: 7%;
            top: 50%;
            transform: translateY(-50%);
            .banner__sale {
                text-transform: uppercase;
                color: white;
                h1 {
                    font-size: $font-l;
                    padding-bottom: 5px;
                    border-bottom: 2px solid gray;
                }
                h3 {
                    margin-top: $margin-xs;
                    font: {
                        size: $font-xxd;
                        weight: $font-weight-900
                    }
                }
            }
            .banner__circle {
                @include flex-center-center();
                padding: 6px;
                text-align: center;
                flex-direction: column;
                width: 130px;
                height: 130px;
                border: 2px solid gray;
                border-radius: 50%;
                text-transform: uppercase;
                color: $c-white;
                transform: rotate(-20deg);
                font: {
                    size: $font-m;
                    weight: $font-weight-500;
                }
                span:first-child {
                    font-size: $font-sm;
                    display: block;
                }
                .banner__percent {
                    color: $c-pink !important;
                    font: {
                        size: $font-xl;
                        weight: $font-weight-700;
                    }
                }
            }
        }
    }
}