#cart {
    .container {
        @include center();
        a {
            text-decoration: none;
            color: $first-font-color;
            transition: $transition-200ms;
            font: {
                size: $font-m;
                weight: $font-weight-700;
            }
            &:hover {
                color: $second-font-color;
            }
        }
        i {
            color: $first-font-color;
            margin: 0 $margin;
        }
        .isActive {
            color: $second-font-color !important;
        }
    }
    .cart__container {
        width: $container-width;
        margin: $margin-xxl auto;
    }
}