#customer {
    height: 507px;
    margin-bottom: $margin-xxxl;
    .customer__item {
        width: 580px;
        height: $h-100per;
        border-radius: 7px;
        img {
            width: $w-100per;
            height: $h-100per;
            object-fit: cover;
            border-radius: 7px;
        }
    }
    .customer__content {
        width: 500px;
        height: $h-100per;
        box-sizing: border-box;
        h3 {
            font-size: $font-m;
            margin-bottom: $margin-m;
            color: $c-gray;
        }
        h1 {
            margin-bottom: $margin-m;
            color: #222;
            width: 400px;
            font: {
                size: 26px;
                weight: $font-weight-800;
            }
        }
        p {
            width: 440px;
            font-size: 14px;
            color: #999!important;
            line-height: $line-l;
        }
        a {
            color: $c-black;
            display: inline-block;
            margin-top: $margin-xxl;
            font: {
                weight: $font-weight-600;
                size: $font-sm;
            }
            &::after {
                height: 2px !important;
                margin-top: 3px;
            }
        }
    }
}