.description {
    @include flex-between-start();
    h3 {
        margin-bottom: $margin;
        font: {
            size: $font-m;
            weight: $font-weight-600;
        }
    }
    p {
        color: $c-gray;
        font-size: 14px;
        line-height: $line-l;
    }
    span {
        color: $c-gray !important;
        font-size: 14px !important;
    }
    h5 {
        font: {
            weight: $font-weight-600;
            size: 14px;
        }
    }
    .description__left {
        width: 600px;
        ul {
            margin: $margin 0;
            li {
                font-size: 14px;
                color: $c-gray;
                margin-bottom: $margin-s;
            }
            i {
                font-size: $font-sm;
                color: $c-black;
                margin-right: $margin-s;
            }
        }
        table {
            margin-top: $margin-xxl;
            td {
                padding: $padding-s;
                line-height: $line-m;
                border-bottom: 1px solid rgb(214, 214, 214);
            }
        }
    }
    .description__right {
        width: 550px;
        video {
            width: $w-100per;
            border-radius: 3px;
        }
    }
}