#guaranty {
    margin-top: $margin-xxl;
    .container {
        @include flex-around-center();
        border-top: 1px solid rgb(221, 221, 221);
        border-bottom: 1px solid rgb(221, 221, 221);
        padding: $padding-xl 0;
    }
    .guaranty__item {
        text-align: center;
        h1 {
            font-weight: $font-weight-700;
        }
        span {
            display: inline-block;
            margin-top: $margin-xs;
            color: $c-gray;
            font-size: $font-sm;
        }
    }
}

@media (min-width:768px) and (max-width:1170px) {
    #guaranty {
        .guaranty__item {
            margin-right: $margin;
            h1 {
                font-size: $font-sm;
            }
            span {
                font-size: $font-s;
            }
        }
    }
}