// SECTION [HEADER]
#header {
    font-size: $font-s;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: $padding-xs 0;
    color: $c-gray;
    .header__right {
        .header__dropdown {
            @include flex-between-center();
            padding-right: $padding;
            gap: $gap;
            span {
                position: relative;
                padding: $padding-xs 0;
                cursor: pointer;
                &:hover {
                    color: $c-black;
                }
                .dropdown {
                    position: absolute;
                    width: $w-100per;
                    height: 50px;
                    content: '';
                    top: 80%;
                    opacity: 0;
                    left: 0;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0 2px 15px 0 rgb(185, 184, 184);
                    padding: $padding-xs;
                    box-sizing: border-box;
                    transition: $transition-200ms;
                    a {
                        text-decoration: none;
                        color: $c-gray;
                        margin-bottom: $margin-xs;
                        display: inline-block;
                        transition: $transition-200ms;
                        &:hover {
                            color: $c-black;
                        }
                    }
                }
            }
            i {
                margin-left: $margin-xxs;
                font-size: $font-s;
            }
            span:first-child {
                &:hover .dropdown {
                    top: 100%;
                    opacity: 1;
                }
            }
            span:last-child {
                &:hover .dropdown {
                    top: 100%;
                    opacity: 1;
                }
            }
        }
        @include flex-between-center();
        .header__details ul {
            display: $flex;
            gap: $gap-l;
            border-left: 1px solid rgb(219, 219, 219);
            padding-left: $padding;
            color: $c-gray;
            transition: $transition-200ms;
            li {
                @include flex-start-center();
                &:hover a {
                    color: $c-black;
                }
                &:hover i {
                    color: $c-black;
                }
            }
            a {
                color: $c-gray;
                text-decoration: none;
                transition: $transition-200ms;
            }
            i {
                margin-right: $margin-xs;
                transition: $transition-200ms;
                font-size: $size;
            }
        }
    }
}