#instagram {
    margin-bottom: 100px;
    margin-top: $margin-xxxl;
    .container:first-child {
        justify-content: center !important;
        h1 {
            margin-bottom: $margin-xl;
            font: {
                size: $font-l;
                weight: $font-weight-700;
            }
        }
    }
}