#page__banner {
    .page__banner-container {
        width: 100%;
        height: 302px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .page__banner-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            h1 {
                color: $white;
                margin: $margin-m 0;
                font: {
                    size: $font-xxl;
                    weight: $font-weight-900;
                }
            }
            h3 {
                color: $white;
                font: {
                    size: $font-m;
                    weight: $font-weight-800;
                }
            }
            p {
                line-height: $line-m;
                width: 400px;
                color: $white;
                font: {
                    size: $font-sm;
                    weight: $font-weight-400;
                }
            }
        }
    }
}