#product {
    .container {
        @include flex-between-start();
        gap: $gap-l;
    }
    .product__left,
    .product__right {
        width: 585px;
        height: 519px;
    }
    .product__left {
        @include flex-between-start();
        .product__img-short {
            @include flex-between-start();
            flex-direction: column;
            width: 119px;
            height: 100%;
            img {
                width: 109px;
                cursor: pointer;
                border-radius: 3px;
            }
        }
        .product__slider {
            width: 461px;
            height: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 3px;
            &:hover .product__control {
                width: 90%;
            }
            .product__slider-container {
                img {
                    width: 461px;
                    height: 100%;
                    cursor: crosshair;
                    border-radius: 3px;
                }
            }
            .product__control {
                @include flex-between-center();
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 112%;
                transition: $transition-200ms;
                i {
                    cursor: pointer;
                }
            }
        }
    }
    .product__right {
        height: 519px;
        a {
            font-size: $font-sm;
            color: $first-font-color;
            text-decoration: none;
            transition: $transition-200ms;
            &:hover {
                color: $second-font-color;
            }
        }
        h1 {
            font: {
                weight: $font-weight-800;
                size: $font-l;
            }
        }
        .product__navigation {
            @include flex-start-center();
            margin-bottom: $margin;
            gap: $gap-xs;
            i {
                font-size: $font-s;
                color: $first-font-color;
            }
        }
        .product__price {
            margin: $margin-xxl 0 $margin 0;
            h1 {
                color: $pink;
            }
        }
        .product__reviews {
            font-size: $font-s;
            color: $first-font-color;
            a {
                margin-left: $margin-xs;
            }
        }
        .product__content {
            margin: $margin-xl 0;
            p {
                color: $first-font-color;
                line-height: $line-m;
                font-size: 14px;
                padding-bottom: $padding-m;
            }
        }
        .product__add {
            border-bottom: 1px solid rgb(224, 224, 224);
            border-top: 1px solid rgb(224, 224, 224);
            padding: $padding-m 0;
            input {
                width: 50px;
                height: 46px;
                text-align: center;
                box-sizing: border-box;
                border-radius: 3px;
                outline: none;
                border: 1px solid rgb(194, 194, 194);
            }
            a {
                color: $white;
                margin-left: $margin-l;
                .fa-bag-shopping {
                    margin-right: $margin-xs;
                }
            }
        }
        .product__more {
            @include flex-start-center();
            i {
                margin-right: $margin-xs;
            }
            margin: $margin-xl 0;
            .product__soc {
                border-right: 1px solid rgb(224, 224, 224);
                padding-right: $padding;
                margin-right: $margin;
            }
            .fa-scale-balanced {
                margin-left: $margin;
            }
        }
    }
}